<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="ls.hencoder.dynamic_feature2">

    <dist:module
        dist:instant="true"
        dist:onDemand="false"
        dist:title="@string/title_dynamic_feature2">
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>

